<% grid = 24 / project.stages.count %>
<table class="stage_count_<%= project.stages.count %>" class="g24">
  <tr>
    <% project.stages.each do |stage| %>
      <td valign="top" class="grid_<%= grid %>">
        
        <% content_tag_for :article, stage do %>
          <h1>
            <%= nbspify(stage.name) %>&nbsp;<small><%= stage.limit.present? ? "(#{stage.cards.count}/#{stage.limit})" : "(#{stage.cards.count})" %></small>
          </h1>
          
          <% if stage.cards.present? %>
            <%= render stage.cards, :project => project, :stage => stage %>
          <% else %>
            <p>
              <small>
                No cards here!
                <% unless stage == project.stages.first %>
                  You should pull something from <%= project.stages[project.stages.index(stage) - 1].name %>.
                <% else %>
                  You should brainstorm something new to work on.
                <% end %>
              </small>
            </p>
          <% end %>
        <% end %>

      </td>
    <% end %>
  </tr>
</table>
