<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br/>
    <%= f.error_message_on :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :summary %>
    <%= f.error_message_on :summary %>
    <%= f.text_area :summary, :rows => 5 %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
