- content_tag_for :article, @project do

  %header.project_header
    %h1= link_to @project.name, @project
    .project_summary= @project.summary

  - if @project.stages.present?
    %section.project_stages
      %table.row
        %tr
          = render @project.stages, :project => @project

  %footer.project_footer
    %h3= link_to 'New stage', :anchor => 'new_stage'
    = render 'stages/form', :project => @project
