<% content_tag_for :article, @project do %>

  <h1><%= link_to @project.name, @project %></h1>

  <div id="summary">
    <%= @project.summary %>
  </div>
  
  <% if @project.stages.present? %>
    <section>
      <h1>Cards</h1>

      <%= render 'cards', :project => @project %>

      <h2>Add a new card</h2>
      <p>Add a new card to <%= @project.stages.first.name %>.</p>
      <%= render 'cards/form', :project => @project %>

    </section>
  <% end %>
  
  <section>
    <h1>Stages</h1>
    <% if @project.stages.present? %>
      <table>
        <%= render @project.stages %>
      </table>
    <% else %>
      <p>This project has no stages yet. Please add one.</p>
    <% end %>
    <h2>Add a new stage</h2>
    <%= render 'stages/form', :project => @project %>
  </section>
  
<% end %>


<div>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>