!!!
%html
  %head
    %title
    = stylesheet_link_tag 'application', controller.controller_name
    = csrf_meta_tag
  %body
    .notice= notice
    #page
      %header#page_header
      #page_main
        = yield
      %aside#page_aside
      %footer#page_footer
    = javascript_include_tag :defaults